*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  margin: 0;
  min-width: 320px;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding: 96px 0 96px;
  margin: 0 auto;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0 120px;
  }
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 16px;
  }
}

@media screen and (min-width: 1158px) {
  .header {
    padding: 0;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 16px;
  padding-top: 16px;
}


@media screen and (min-width: 768px) {
  .logo-link {
    padding: 0;
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .logo-link {
    margin-right: 76px;
  }
}

.logo-title {
  color: #2e2f42;
}

.icon-solid-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.icon-solid-menu {
  fill: #2F2F37;
}

@media (min-width:768px) {
  .icon-solid-cont {
    display: none;
  }
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav-list-menu {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list-link {
  display: inline-block;
  position: relative;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
  color: #404bbf;
}

.studio::after {
  position: absolute;
  display: block;
  background-color: #404bbf;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.address-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
}

.address-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 40px;
}


@media screen and (min-width: 768px) {
  .address-list  {
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .address-list  {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .address-list-item {
    display: inline-flex;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 0;
  }
}

@media screen and (min-width: 1158px) {
  .address-list-item {
    padding: 24px 0;
  }
}

.address-list-link {
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .address-list-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .address-list-link {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

@media (max-width:767px) {
  .nav-list {
    display: none;
  }

  .address-container {
    display: none;
  }
}

/* HEADER END */

/* MENU */

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  pointer-events: auto;
  overflow: hidden;
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 320px;
  padding: 72px 16px
}

.button-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: auto;
}

.menu-list {
  list-style: none;
}

.menu-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-list-link {
  text-decoration: none;
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.studio-menu {
  color: #404BBF;
}

.address-menu-list {
  list-style: none;
  margin-bottom: 48px;
  font-style: normal;
}

.address-menu-list-item:first-child {
  margin-bottom: 24px;
}

.address-menu-list-link {
  text-decoration: none;
  color: #4D5AE5;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-email {
  color: inherit;
}

.social-media-container-menu {
  width: 280px;
}

.social-media-list-item-menu {
  width: 40px;
  height: 40px;
}

.social-media-list-menu {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.social-link-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MENU END */

/* HERO */
.hero {
  position: relative;
  padding: 72px 0;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-tablet.jpg);
    padding: 112px 0;
    max-width: 768px;
  }
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-desktop.jpg);
    max-width: 1440px;
  }

  @media (min-resolution: 192dpi) {
    .hero {
     background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
     url(../images/hero-desktop@2x.jpg);
    }
  }
}

.hero-title {
  color: #ffffff;
  min-width: 216px;
  max-width: 496px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media  screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 #00000026;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* HERO END */

/* BENEFITS */

.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1128px;
  min-width: 288px;
  list-style-type: none;
  gap: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-icon-container {
  display: none;
}

@media screen and (min-width: 1158px) {
  .benefits-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .benefits-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .benefits-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.benefits-list-item-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits-list-item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-list-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.benefits-list-item-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
  .benefits-list-item-text {
    font-weight: 400;
  }
}

/* BENEFITS END */

/* OUR TEAM */

.team {
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team-title {
    font-weight: 700;
  }
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 72px;
}

.team-list-item {
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 6px 0 #2e2f4214, 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  
  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.team-list-item-cont {
  padding: 32px 0;
}

.team-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style: none;
  margin-top: 8px;
}

.social-media-list-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* OUR TEAM END*/

/* PORTFOLIO */

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 48px;
  margin: 0 auto;
}

@media screen and (max-width: 1157px) {
  .portfolio-list-item {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}


@media screen and (min-width: 1158px) {
  .portfolio-list {
    flex-direction: row;
    row-gap: 48px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.list-item-cont {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* PORTFOLIO END*/

/* FOOTER */

.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    max-width: 768px;
    flex-direction: row;
    justify-content: left;
    padding-left: 108px;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0;
    row-gap: 0;
  }
}

.footer-container-logo {
  width: 288px;
  text-align: center;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-container-logo {
    width: 264px;
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container-logo {
    width: 288px;
    text-align: left;
    margin-right: 120px;
  }
}

.footer-link {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-media-container {
  margin-bottom: 72px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .social-media-container {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .social-media-container {
    text-align: left;
    margin-right: 80px;
  }
}

.social-media-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-media-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style: none;
  margin-top: 8px;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.footer-form-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .footer-form-title {
    text-align: center;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}

.subscribe-input {
  width: 288px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .subscribe-input {
    border-color: rgba(255, 255, 255, 1);
  }
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 1158px) {
  .subscribe-input::placeholder {
    color: rgba(255, 255, 255, 1);
  }
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  align-self: center;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  fill: #f4f4fd;
  margin-left: 16px;
}

/* FOOTER END*/

/* MODAL */
.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px;
}


@media screen and (min-width: 768px) {
  .modal-content {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus,
.button-close:hover  {
  background: #404bbf;
  border: none;
}

.button-close:hover > .modal-icon,
.button-close:focus > .modal-icon {
  fill: #ffffff;
}

.modal-form-title {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-input {
  position: relative;
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  min-width: 100%;
  height: 40px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
  color: #2E2F4266;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon-input {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.modal-form-textarea {
  margin-bottom: 16px;
}

.modal-form-text {
  min-width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2E2F4266;
  resize: none;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text:focus {
  border-color: #4d5ae5;
}

.modal-form-checkbox {
  margin-bottom: 24px;
}

.terms {
  display: flex;
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  gap: 8px;
}

.privacy-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.terms-text {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .terms-text {
    flex-direction: row;
  }
}

input[type="checkbox"]:checked + .terms .privacy-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: 0 auto;
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #404bbf;
}

/* MODAL END*/
